:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: Playfair Display;
  --default-font-family: "Poppins", sans-serif;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;

  font-weight: bold;
  color: black;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
#about {
  text-align: center;
  background-color: var(--secondary-color);
}
.form-control {
  width: 50%;
}
.navbar-nav {
  margin-left: auto;
}
